body{
  background-color: gold;
  border: 1px solid blue;
}

.main{
  width: 100%;
  height: 300px;
  background-color: purple;
}

p{
  background-color: blue;
  height: 100px;
}

h3{
  color: orange;
}
